@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  

*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navbar{
    height: 75px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0.2px 15px rgb(152, 151, 151);

}

.nav-first{
    width: 18%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items:center
}

.nav-logo-name{
    margin: 0;
    font-size: 28px;
    font-weight: 700;
}

.nav-search{
    width: 50%;
    height: 80%;
}

.nav-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav-form-input{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    border: 1.5px solid transparent;
    padding: 1rem;
}

.nav-form-input::placeholder{
    color: black;
}

.nav-form-input:focus{
    outline: none;
    border: 1.5px solid black;
}

.nav-last{
    width: 20%;
    height: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 30px;
}

.nav-link{
    width: 38%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link:last-child{
    background-color: #65743A;
    color: white;
}

.main{
    height: 500px;
    background-color: #034C3C;
}






/* Signup */


.signup-main{
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.signup-page{
    margin-top: 100px;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form-container{
    width: 90%;
}

.signup-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.signup-head h1{
    font-weight: 600;
    font-size: xx-large;
}

.signup-head h5{
    font-weight:400;
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 20px;
}

.signin-link{
    color: #188c6d;
}

.signup-option{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 45px;
    width: 45%;
    border-radius: 25px;
    font-size: medium;
    box-shadow: 3px 4px 15px rgb(152, 151, 151);
    margin-bottom: 15px;
}

.signup-option-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-line{
    height:1px;
    width:80%;
    margin-top: 30px;
    margin-bottom: 45px;
}

.signup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-field{
    width: 90%;
    height: 80px;
    margin: 0;
}


.signup-input{
    height: 70px;
    width: 80%;
    border: none;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 8px; 
    padding: 1rem;
}

.signup-input:focus{
    outline: none;
}

.signup-input::placeholder{
    color: black;
}

.signup-button{
    height: 50px;
    width: 40%;
    border-radius: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #188c6d;
}

.signup-p{
    font-size:x-small;
    color: rgba(0,0,0,0.5);
    text-align: center;
}



/* Home */

.loading{
    display: grid;
    place-items: center;
    background: rgba(255, 255, 255, .8);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1031;
}

.home-intro{
    height: 400px;
    background-color: #034C3C;
}

.home-intro h1{
    color: white;
    padding-top: 4rem;
    padding-left: 4rem;
}

.home-intro p{
    color: rgba(256,256,256,0.5);
    padding-top: 1rem;
    padding-left: 4rem;
}





/* Loader */


.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: grid;
  place-items: center;
  position: relative;
  width: 200px;
  height: 200px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    width: 75px;
    height: 75px;
    opacity: 0;
  }
  4.9% {
    width: 75px;
    height: 75px;
    opacity: 0;
  }
  5% {
    width: 75px;
    height: 75px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}






/* Product */

.product{
    height: 300px;
    width: 220px;
    border-radius: 10px;
    margin: 15px;
    border: 1px solid transparent;
    box-shadow: 2px 2px 10px rgb(152, 151, 151);
}

.product-image{
    height: 50%;
    width: 100%;
    border-radius: 10px;
    position: relative;
}

.product-image img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.product-info{
    height: 50%;
    width: 100%;
}

.update-product{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.update-product p{
    margin: 0;
    padding: 0;
    font-size: 10px;
    text-align: center;
}

.product-price{
    height: 40%;
    width: 100%;
    padding: 10px;
    font-weight: 600;
}

.product-name{
    height: 30%;
    width: 100%;
    /* border-end-start-radius: 10px;
    border-end-end-radius: 10px; */
    padding: 10px;
}

.product-quantity{
    height: 30%;
    width: 100%;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
    padding: 10px;
}

.product:hover{
    border: 1px solid black;
}

.product:hover .item-edit{
    display: grid;
}

.product:hover .item-delete{
    display: grid;
}

.hide-edit{
    display: none;
}

.products{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.item-add-remove{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.item-edit{
    display: none;
    place-items: center;
    position: absolute;
    height: 30px;
    width: 30px;
    right: 4px;
    top: 4px;
    background-color: rgb(138, 164, 138);
    /* border: 1px solid black; */
    border-radius: 25px;
    color: rgb(22, 79, 22);
    cursor: pointer;
    transition: width 0.5s;
}

.item-edit:hover{
    width: 100px;
}

.item-done{
    display: none;
    position: absolute;place-items: center;
    height: 30px;
    width: 50px;
    background-color: #A6A15E;
    /* border: 0.5px solid black; */
    border-radius: 25px;
    right: 7px;
    top: 4px;
    color: rgb(22, 79, 22);
    font-size: 27px;
    cursor: pointer;
    transition: font-size 0.2s;
}

.item-done:hover{
    color: rgb(68, 107, 68);;
}

.item-delete{
    display: none;
    place-items: center;
    position: absolute;
    height: 30px;
    width: 30px;
    left: 4px;
    top: 4px;
    background-color: rgb(216, 91, 91);
    /* border: 1px solid black; */
    border-radius: 25px;
    cursor: pointer;
    color: rgb(130, 41, 41);
    transition: width 0.5s;
}

.item-delete:hover{
    width: 100px;
}

.hide-delete{
    display: none;
}

.item-add{
    color: rgb(52, 108, 52);
}

.item-remove{
    color: rgb(209, 66, 66);
}


.item-quantity-feild{
    height: 25px;
    width: 60%;
}

.item-quantity-feild::-webkit-outer-spin-button,
.item-quantity-feild::-webkit-inner-spin-button,
.item-price-feild::-webkit-outer-spin-button,
.item-price-feild::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.item-price-feild{
    height: 25px;
    width: 80%;
}



/* Inventory */

.inventory-head{
    height: 100px;
    background-color: #A6A15E;
    padding: 20px;
}

.inventory-head h1{
    font-size: 40px;
    font-weight: 600;
}

.stock{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.inventory-container{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}


/* Add New Product */

.add-new{
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    place-items: center;
}

.close{
    position: absolute;
    right: 6px;
    top: 6px;
    color: #034C3C;
    cursor: pointer;
}

.add-product-container{
    height: 50%;
    width: 40%;
    background-color: #b1c1a9;
    border-radius: 10px;
    position: relative;
    border: 1px solid #034C3C;
}

.add-upper{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.add-lower{
    height: 22%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 10%;
}

.add-lower textarea{
    height: 60%;
    width: 70%;
    resize: none;
    border-radius: 10px;
}



.add-photo{
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-info{
    height: 90%;
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 20px;
    margin-top: 10px;
}

.add-info input{
    height: 30px;
    width: 70%;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}


.photo-button {
    height: 60%;
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    border: 1px dashed black;
    text-align: center;
    background-color: #DDD;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-new-button-container{
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
}

.add-new-button-container button{
    width: 40%;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #034C3C;
    color: white;
}

.photo-name{
    margin-top: 8px;
}


/* Save button */

.save-button-container{
    height: 100px;
    display: none;
    justify-content: center;
    align-items: center;
}

.save-button{
    height: 50%;
    width: 250px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #65743A;
    color: white;
}



/* Store */

.stores-container{
    display: flex;
    flex-wrap: wrap;
}

.store-container{
    display: flex;
    align-items: center;
    height: 120px;
    width: 330px;
    padding: 7px;
    margin: 15px;

    box-shadow: 2px 2px 10px rgb(152, 151, 151);
    /* background-color: #65743A; */
}

.store-image{
    width: 30%;
    height: 90px;
    padding: 5px;
    /* background-image: url('./assets/banana.png'); */
    /* background-color: #188c6d; */
}

.store-img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-image: url('../public/logo.png') */
}


.store-info{
    width: 70%;
    height: 100%;
    padding: 7px;
}

.store-info p{
    margin: 0;
    font-size: 0.8rem;
}